	body{
		font-family: Tahoma,sans-serif;
	}
	.but{
		text-decoration: none;
		color: black;
		width: 100px;
		padding: 6px;
		border: none;
	}
	.but:hover{
		text-decoration: none;
		color: turquoise;
		background-color: black;
		width: 100px;
		padding:6px;
		border-radius: 3px;
		border: none;
	}
	.butin{
		text-decoration: none;
		background-color: darkcyan;
		color: lightcyan;
		border: none;
		width: 130px;
		padding: 5px;
		font-family: Tahoma,sans-serif;
		font-size: 15px;
		border-radius: 3px;
		
		
	}
	.buts{
		text-decoration: none;
		background-color: deepskyblue;
		color: lightcyan;
		border: none;
		width: 120px;
		padding: 5px;
		font-family: Tahoma,sans-serif;
		font-size: 15px;
		border-radius: 3px;
		
		
	}
	.butss{
		text-decoration: none;
		background-color: red;
		color: lightcyan;
		border: none;
		width: 120px;
		padding: 5px;
		font-family: Tahoma,sans-serif;
		font-size: 15px;
		border-radius: 3px;
		
		
	}
	.buts:hover{
		text-decoration: none;
		color: turquoise;
		background-color: black;
		width: 100px;
		padding:5px;
		border-radius: 3px;
		border: none;
		font-family: Tahoma,sans-serif;
		font-size: 15px;
	}